.header {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 77%)),
    url(./image/banner2.jpg);
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
}

.header_1 {
  display: flex;
  padding-top: 30px;
}
.title {
  width: 70%;
}
.title a {
  text-decoration: none;
  color: #ffffff;
}
.header_2 {
  padding-top: 81px;
  display: flex;
  justify-content: center;
}
.header_a {
  margin-right: 10px;
}
.header_2 .header_a a {
  text-decoration: none;
  font-size: 18px;
  color: #ff6600;
}
.header_2 .header_a a p {
  color: #ff6600;
}
.header .icon button {
  border: transparent;
  background-color: transparent;
  color: #f9f8ff;
  position: absolute;
  top: 36px;
  right: 278px;
}
.header .icon {
  background-color: transparent;
}
.header .menu button {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 30px;
  padding: 0 8px;
}
.fa-solid {
  margin-right: 10px;
}
.header_text p {
  color: #ffffff;
}
.menu-list {
  /* display: flex; */
  position: relative;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(6 3 0 / 77%);
  width: 100%;
  position: fixed;
  margin-top: -700px;
  padding: 345px 0px;
  z-index: 10000;
}
.menu-list a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s;
  font-weight: 600;
}
.menu-list ul {
  list-style: none;
  padding: 0;
  margin: 40px auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
.menu-list a:hover {
  color: #ff6600;
}
.menu-list li {
  margin-bottom: 25px;
}
.menu-list i {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  background: #ff6600;
  color: #fff;
}
.menu-list button {
  background-color: transparent;
  color: white;
  border: transparent;
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 0;
}
.Story-title {
  padding-left: 17px;
}
.Story-title_1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
.Story-title_2 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.content {
  display: grid;
  margin-right: -15px;
  margin-left: -15px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.content_image img {
  width: 100%;
  height: 90%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  border-radius: 30px;
}
.content_image {
  width: 100%;
}
.content_info {
  position: relative;
  width: 100%;
  padding-right: 107px;
  padding-left: 15px;
}
.info_title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.image_1 {
  max-width: 100%;
  height: auto;
}
.btn {
  color: #fff;
  background-color: #ff6600;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 10px;
  border: 2px solid transparent;
}
.btn:hover {
  color: #fff;
  border: 2px solid #ff6600;
  opacity: 0.8;
  background-color: #ff6600;
}
.What_we_do {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
}
.we_do h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  margin-top: 30px;
}
.we_do a {
  color: #ff6600;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  text-decoration: none;
}
.we_do a:hover {
  color: #fa8a3f;
}
.Skill {
  background-color: #eee;
}
.skill_bars_1 {
  display: flex;
  display: flex;
  height: 0.5em;
  overflow: hidden;
  font-size: 0.75em;
  background-color: rgba(22, 28, 45, 0.7);
  border-radius: 0.25em;
}
.row h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.row_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
.bar_orange_1 {
  background-color: #ff6600;
  width: 80%;
}
.bar_orange_2 {
  background-color: #ff6600;
  width: 95%;
}
.bar_orange_3 {
  background-color: #ff6600;
  width: 55%;
}
.Skill_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 30px;
  height: 400px;
}
.Skill_img img {
  width: 100%;
  height: 400px;
}
.team_title {
  text-align: center;
}
.title_1 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.team_row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.team_img img {
  transition: all 0.2 ease-in-out;
  overflow: hidden;
  width: 100%;
}
.social a {
  text-decoration: none;
}
.social span {
  color: #fff;
  font-size: 16px;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  line-height: 42px;
  text-align: center;
  transition: all 0.3s ease 0s;
  background: rgba(157, 157, 157, 0.5);
}
.team_img {
  position: relative;
}
.social {
  display: flex;
  left: 30%;
  position: absolute;
  bottom: 12%;
  opacity: 0;
}
.social a {
  margin-right: 10px;
}

.team_member {
  width: 31%;
  margin-right: 10px;
  margin-left: 10px;
}
.name {
  margin: 25px 0 0px;
  font-size: 24px;
  color: #232121;
  font-weight: 700;
  display: block;
  text-decoration: none;
  text-align: center;
}
.team_member_1 p {
  text-align: center;
}
.team_img:hover .social {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.social span:hover {
  background: #fff;
  color: #ff6600;
}
.team_member_1:hover .name {
  color: #ff6600;
}
.footer {
  background-color: #000000;
  color: #9b9795;
}
.footer h3 {
  color: #ffffff;
}
.footer_icon a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #ffffff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 5px;
  transition: 0.3s;
}
.footer .footer_icon a:hover {
  background-color: #ff6600;
  color: #ffffff;
}
.footer .col-lg-4 {
  width: 25%;
}
.footer a {
  text-decoration: none;
}
.footer_text a:hover h3 {
  color: #ff6600;
}
.footer_link {
  margin-bottom: 10px;
  color: #9b9795;
}
.footer_link a {
  color: #9b9795;
}
.footer_link a:hover {
  color: #ff6600;
}
.footer_2 {
  display: flex;
  width: 100%;
}
.footer .footer_2_1 {
  margin-right: 50px;
}
.footer .footer_2_2 {
  width: 22%;
}
.footer .footer_2_3 {
  width: 22%;
}
.footer .Email {
  padding: 13px;
  padding-right: 125px;
  border-radius: 11px;
}
.footer p {
  color: #9b9795;
}
.footer_End h3 {
  font-size: 20px;
}
@media screen and (max-width : 992px) {
  .search {
    position: absolute;
    right: 70px;
  }
  .fa-magnifying-glass:before{
    position: relative;
    right: 25px;

  }
  .header .icon button {
    right: 70px;
  }
  .menu{
    position: relative;
    left: 253px
  }
  .content_image img{
    height: auto;
    padding-top: 0; 
    padding-left:0;
    padding-right: 0;
    border-radius: 5px;
  }
  .container{
    max-width: 850px;
  }
  .content_info{
    padding-left: 0;
    padding-right: 0;
  }
  .What_we_do{
    grid-template-columns: 1fr 1fr;
  }
  .we_do h3{
    margin-top: 0;
  }
  .team_row{
    margin-left: 0;
    margin-right: 0;
  }
  .team_member{
    margin-left: 0;
  }
  .footer .Email {
    padding-right: 10px;
  }
}
@media screen and (max-width:768px){
  .menu{
    left: 203px;
  }
  .content{
    display: block;
  }
  .container{
    max-width: 540px;
  }
  .What_we_do{
    display: block;
  }
  .we_do{
    margin-bottom: 30px;
  }
  .team_member{
    width: 40%;
  }
  .footer_2{
    flex-wrap: wrap;
  }
  .footer .col-lg-4{
    width: 45%;
  }
}
@media  screen and (max-width:576px) {
  .menu{
    left: 110px;
  }
  .header{
    height: 200px;
  }
  .container{
    max-width: 510px;
  }
  .content_info{
    margin-top: 34px;
  }
  .footer .footer_2_1{
    margin-right: 20px;
  }
}
